<div>
  <h2>Add New Book</h2>
  <form (ngSubmit)="addBook()">
    <input type="text" [(ngModel)]="book.title" name="title" placeholder="Title" required />
    <input type="text" [(ngModel)]="book.author" name="author" placeholder="Author" required />
    <textarea [(ngModel)]="book.description" name="description" placeholder="Description"></textarea>
    <input type="number" [(ngModel)]="book.publishedYear" name="publishedYear" placeholder="Published Year" required />
    <input type="file" [(ngModel)]="book.cover" name="cover" />
    <button type="submit" mat-button>Submit</button>
  </form>
</div>
